UseTab: AlignWithSpaces
IndentWidth: 4
TabWidth: 4
AlignConsecutiveAssignments: Consecutive
ContinuationIndentWidth: 4
BreakBeforeBraces: Allman
BinPackArguments: False
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
ColumnLimit: 120
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left
BreakArrays: True
SeparateDefinitionBlocks: Always
BreakAfterAttributes: Always
Cpp11BracedListStyle: False
InsertTrailingCommas: Wrapped
InsertNewlineAtEOF: True